@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.treeselect-list__item--checked .treeselect-list__item-checkbox-container, .treeselect-list__item--partial-checked .treeselect-list__item-checkbox-container {
    background-color: rgba(217, 119, 6, 1) !important;
}

trix-editor p {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.fi-fo-repeater-item {
    border: 2px solid #9CA3AF; /* blu intenso */
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: #F9FAFB;
}
