@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.treeselect-list__item--checked .treeselect-list__item-checkbox-container, .treeselect-list__item--partial-checked .treeselect-list__item-checkbox-container {
    background-color: rgba(217, 119, 6, 1) !important;
}

input:focus {
    border: 3px solid #d97706;
    outline: none;
}

trix-editor p {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

trix-editor:focus {
    border: 3px solid #d97706;
    outline: none;
}
